bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/VSWorkspaceState.json
.vs/DCA_VEA_Group_Bundholdet/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/DCA_VEA_Group_Bundholdet/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/DCA_VEA_Group_Bundholdet/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/DCA_VEA_Group_Bundholdet/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/DCA_VEA_Group_Bundholdet/DesignTimeBuild/.dtbcache.v2
.vs/DCA_VEA_Group_Bundholdet/FileContentIndex/176d9c9c-f5c2-42b2-83bd-ff46bd86d53f.vsidx
.vs/DCA_VEA_Group_Bundholdet/FileContentIndex/23e5823c-a3db-48ed-9f02-18f1c33c6826.vsidx
.vs/DCA_VEA_Group_Bundholdet/FileContentIndex/8019027e-e3da-49eb-8811-1776a1e0e055.vsidx
.vs/DCA_VEA_Group_Bundholdet/FileContentIndex/bac587fd-d83c-4ec9-916e-c8cbfbcbb3f5.vsidx
.vs/DCA_VEA_Group_Bundholdet/FileContentIndex/ce3b2c32-d9a9-45e3-bba2-5f05b10ea1c0.vsidx
.vs/DCA_VEA_Group_Bundholdet/v17/.futdcache.v2
.vs/DCA_VEA_Group_Bundholdet/v17/.suo
.vs/DCA_VEA_Group_Bundholdet/v17/.wsuo
.vs/DCA_VEA_Group_Bundholdet/v17/DocumentLayout.backup.json
.vs/DCA_VEA_Group_Bundholdet/v17/DocumentLayout.json
.vs/ProjectEvaluation/dca_vea_group_bundholdet.metadata.v9.bin
.vs/ProjectEvaluation/dca_vea_group_bundholdet.projects.v9.bin
.vs/ProjectEvaluation/dca_vea_group_bundholdet.strings.v9.bin
.vs/VIA_EventAssociation/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/VIA_EventAssociation/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/VIA_EventAssociation/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/VIA_EventAssociation/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/VIA_EventAssociation/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/VIA_EventAssociation/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/VIA_EventAssociation/DesignTimeBuild/.dtbcache.v2
.vs/VIA_EventAssociation/FileContentIndex/517bb59a-a0a3-481d-9c30-7a93dc4059b7.vsidx
.vs/VIA_EventAssociation/FileContentIndex/811b3c4d-df8d-4bf0-86f9-11fa2ce5a9f5.vsidx
.vs/VIA_EventAssociation/FileContentIndex/95ad9bb4-f07c-4e0b-8237-cbaba656e44c.vsidx
.vs/VIA_EventAssociation/FileContentIndex/d2b25486-a939-4755-99ab-2f15763c1043.vsidx
.vs/VIA_EventAssociation/FileContentIndex/d48736ca-09fe-40ec-a244-c5b483b50965.vsidx
.vs/VIA_EventAssociation/v17/.futdcache.v2
.vs/VIA_EventAssociation/v17/.suo
.vs/VIA_EventAssociation/v17/DocumentLayout.backup.json
.vs/VIA_EventAssociation/v17/DocumentLayout.json
.vs/VIA_EventAssociation/v17/TestStore/0/010.testlog
.vs/VIA_EventAssociation/v17/TestStore/0/testlog.manifest
